.slider-project__item-text {
    font-family: 'Roboto';
    color: #FFFFFF;
    font-size: calc(10px + 6 * (100vw / 1440));
    font-weight: bold;
    max-width: 730px;
    position: absolute;
    bottom:  50%;
    left: 5%;
    /* text-transform: uppercase; */
}
