@import url('./__title/slider-gis__title.css');
@import url('./__link/slider-gis__link.css');
.slider-gis {
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items:  */
    justify-content: space-around;
}
