.slider-new__item {
    /* margin-right: 30px;
    flex: none;
    max-width: 400px; */
    max-width: 100%;
}

/* .slider-new__item:last-of-type {
    margin-right: 0;
}

.slider-new__item:nth-child(3n+5) {
    display: none;
}

.slider-new__item:nth-child(3n+6) {
    display: none;
}

@media screen and (max-width: 1024px) {
    .slider-new__item {
        width: calc((100% - 16px) / 2);
        margin-right: 8px;
    }

    .slider-new__item:nth-child(3n+4) {
        display: none;
    }
} */

/*
@media screen and (max-width: 680px) {
    .slider-new__item {
        width: 100%;

    }
}*/
